@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');
@import 'colors.css';

.container {
    height: 100vh;
    display: flex;
}

.data-container {

    height: 302px;
    width: 287px
}

.content {
    flex: 1;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--our-background); 
    position: relative;
    display: flex;
    align-items: center;
}

.image-container {
    flex: 1;
    background-image: url('/Users/sebastianborjaslizardi/Documents/SandersCRM/Client/donorhub/assets/Water.png');
    background-size: cover;
    background-position: center;
}

.title {
    color: var(--our-dark-blue);
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    margin: 0;
}

.logo {
    color: var(--our-dark-blue);
    font-size: 15px;  
    font-family: 'Nunito Sans', sans-serif;  
    font-weight: 800;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
}

.text-input {
    width: 287px;
    padding: 2px 0px;
    font-size: 16px;
    background-color: var(--our-background);
    color: var(--our-dark-blue);
    border: none;
    border-bottom: 1px solid var(--our-grey);
    outline: none;
    transition: border-bottom 0.3s;
    font-family: 'Nunito Sans', sans-serif;  
    font-weight: 400;
}

.text-input::placeholder {
    color: var(--our-grey);
    font-family: 'Nunito Sans', sans-serif;  
    font-weight: 400;
}

.text-input:focus {
    border-bottom: 2px solid var(--our-grey);
}