.customAppBar {
    background-color: white;
    
}

.customMenu {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.sidebarText {
    color: var(--our-dark-blue);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}
