.user-profile-dialog {
  padding: 20px;
}

.user-profile-title {
  color: var(--our-dark-blue);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
}

.user-profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-profile-button {
  margin-top: 20px;
  background-color: var(--our-pink);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-profile-button:hover {
  background-color: #ff6b8e;
}

